{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container-fluid">
    <h1>
      Task list
      <a href="{% url 'manager:task-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>

    <form action="" method="get" class="form-inline">
      <div style="display: inline-block">{{ search_form|crispy }}</div>
      <input class="btn btn-secondary" type="submit" value="🕵️" style="display: inline-block">
    </form>
    <br>

    {% if task_list %}
      <ul>
        {% for task in task_list %}
          <hr>
          <div class="task" style="background-color:
              {% if task.is_completed %}
                green
              {% elif task.priority == 'U' %}
                red
              {% elif task.priority == 'I' %}
                orange
              {% elif task.priority == 'M' %}
                yellow
              {% else %}
                blue
              {% endif %}">
            <a href="{% url 'manager:task-detail' pk=task.id %}"
               {% if task.priority == 'D' %}style="color:white"{% endif %}>
              <p><strong>Name:</strong> {{ task.name }}</p>
              <p><strong>TaskType:</strong> {{ task.tasktype.name }}</p>
              <p><strong>Id:</strong> {{ task.id }}</p>
            </a>
          </div>
        {% endfor %}
      </ul>
      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="d-inline p-2 btn btn-secondary">Previous</a>
        {% else %}
          <button type="button" class="d-inline p-2 btn btn-secondary btn-lg" disabled>Previous</button>
        {% endif %}

        <h4 class="d-inline p-2 current-page">{{ page_obj.number }}</h4>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="d-inline p-2 btn btn-secondary">Next</a>
        {% else %}
          <button type="button" class="d-inline p-2 btn btn-secondary btn-lg" disabled>Next</button>
        {% endif %}
      {% endif %}
    {% else %}
      <p>There are no tasks in manager</p>
    {% endif %}
  </div>
{% endblock %}
