{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container-fluid">
    <h1>
      TaskType List
      <a href="{% url 'manager:tasktype-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>

    <form action="" method="get" class="form-inline">
      <div style="display: inline-block">{{ search_form|crispy }}</div>
      <input class="btn btn-secondary" type="submit" value="🕵️" style="display: inline-block">
    </form>
    <br>

    {% if tasktype_list %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>

        {% for tasktype in tasktype_list %}
          <tr>
            <td>
              {{ tasktype.id }}
            </td>
            <td>
              {{ tasktype.name }}
            </td>
            <td>
              <a href="{% url 'manager:tasktype-update' pk=tasktype.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                 href="{% url 'manager:tasktype-delete' pk=tasktype.id %}">
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
      {% include 'includes/pagination.html' %}
    {% else %}
      <p>There are no tasktypes in the service.</p>
    {% endif %}
  </div>
{% endblock %}
