{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container-fluid">
    <h1>
      Task list
      <a href="{% url 'manager:task-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>

    <form action="" method="get" class="form-inline">
      <div style="display: inline-block">{{ search_form|crispy }}</div>
      <input class="btn btn-secondary" type="submit" value="🕵️" style="display: inline-block">
    </form>
  </div>
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <div class="card {% if task.is_completed %}
                text-white bg-success
              {% elif task.priority == 'U' %}
                text-white bg-danger
              {% elif task.priority == 'I' %}
                text-dark bg-warning
              {% elif task.priority == 'M' %}
                text-dark bg-info
              {% else %}
                text-dark bg-light
              {% endif %} mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ task.name }} <span class="badge bg-dark">ID: {{ task.id }}</span></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ task.tasktype.name }}</h6>
            <p class="card-text">{{ task.description }}</p>
            <a href="{% url 'manager:task-detail' pk=task.id %}" class="card-link">Task detail</a>
          </div>
        </div>

      {% endfor %}
      {% include 'includes/pagination.html' %}
    </ul>
  {% else %}
    <div class="container-fluid">
      <p>There are no tasks in manager</p>
    </div>
  {% endif %}
{% endblock %}
