{% extends "layouts/base.html" %}

{% block content %}
  <div class="container-fluid">
    <h1>
      Username: {{ worker.username }}
      <a href="{% url 'manager:worker-delete' pk=worker.id %}" class="btn btn-danger link-to-page">
        Delete
      </a>

      <a href="{% url 'manager:worker-update' pk=worker.id %}" class="btn btn-secondary link-to-page">
        Update position
      </a>
    </h1>

    <p><strong>First name:</strong> {{ worker.first_name }}</p>
    <p><strong>Last name:</strong> {{ worker.last_name }}</p>
    <p><strong>Position:</strong> {{ worker.position }}</p>
    <p><strong>Is staff:</strong> {{ worker.is_staff }}</p>

    <div class="ml-3">
      <h4>Tasks</h4>

      {% for task in worker.tasks.all %}
        <div class="card {% if task.is_completed %}
                text-white bg-success
              {% elif task.priority == 'U' %}
                text-white bg-danger
              {% elif task.priority == 'I' %}
                text-dark bg-warning
              {% elif task.priority == 'M' %}
                text-dark bg-info
              {% else %}
                text-dark bg-light
              {% endif %} mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ task.name }} <span class="badge bg-dark">ID: {{ task.id }}</span></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ task.tasktype.name }}</h6>
            <p class="card-text">{{ task.description }}</p>
            <a href="{% url 'manager:task-detail' pk=task.id %}" class="card-link">Task detail</a>
          </div>
        </div>
      {% empty %}
        <p>No tasks!</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
