{% extends "layouts/base.html" %}

{% block content %}
  <div class="container-fluid">
    <h1>
      Username: {{ worker.username }}
      <a href="{% url 'manager:worker-delete' pk=worker.id %}" class="btn btn-danger link-to-page">
        Delete
      </a>

      <a href="{% url 'manager:worker-update' pk=worker.id %}" class="btn btn-secondary link-to-page">
        Update position
      </a>
    </h1>

    <p><strong>First name:</strong> {{ worker.first_name }}</p>
    <p><strong>Last name:</strong> {{ worker.last_name }}</p>
    <p><strong>Position:</strong> {{ worker.position }}</p>
    <p><strong>Is staff:</strong> {{ worker.is_staff }}</p>

    <div class="ml-3">
      <h4>Tasks</h4>

      {% for task in worker.tasks.all %}
        <hr>
        <div class="task" style="background-color:
            {% if task.is_completed %}
              green
            {% elif task.priority == 'U' %}
              red
            {% elif task.priority == 'I' %}
              orange
            {% elif task.priority == 'M' %}
              yellow
            {% else %}
              blue
            {% endif %}">
          <p><strong>Name:</strong> {{ task.name }}</p>
          <p><strong>TaskType:</strong> {{ task.tasktype.name }}</p>
          <p class="text-muted"><strong>Id:</strong> {{ task.id }}</p>
        </div>
      {% empty %}
        <p>No tasks!</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
