{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container-fluid">
    <h1>
      Worker List
      <a href="{% url 'manager:worker-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>
    <form action="" method="get" class="form-inline">
      <div style="display: inline-block">{{ search_form|crispy }}</div>
      <input class="btn btn-secondary" type="submit" value="🕵️" style="display: inline-block">
    </form>
    <br>
    {% if worker_list %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Position</th>
        </tr>
        {% for worker in worker_list %}
          <tr>
            <td>{{ worker.id }}</td>
            <td><a href="{{ worker.get_absolute_url }}">{{ worker.username }} {% if user == worker %}
              (Me){% endif %}</a>
            </td>
            <td>{{ worker.first_name }}</td>
            <td>{{ worker.last_name }}</td>
            <td>{{ worker.position }}</td>
          </tr>
        {% endfor %}
      </table>
      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" class="d-inline p-2 btn btn-secondary">Previous</a>
        {% else %}
          <button type="button" class="d-inline p-2 btn btn-secondary btn-lg" disabled>Previous</button>
        {% endif %}

        <h4 class="d-inline p-2 current-page">{{ page_obj.number }}</h4>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="d-inline p-2 btn btn-secondary">Next</a>
        {% else %}
          <button type="button" class="d-inline p-2 btn btn-secondary btn-lg" disabled>Next</button>
        {% endif %}
      {% endif %}
    {% else %}
      <p>There are no workers in the service.</p>
    {% endif %}
  </div>
{% endblock %}
